@media only screen and (min-width: 480px) { 
    body{
        max-width: 800px;
        background-color: #7c5d88;
    
        margin: auto;
    }
    #cabecalho{
        width: 100%;
        height: 25vh;
    
        background-color: #7c5d88;
        box-shadow: 1px 0px 25px black;
        color: white;
        
        border-radius: 0px 0px 35px 35px;
    
        display: grid;
        grid-template-columns: auto auto;
    
        text-align: center;
    }
    
    #cabecalho > div > img{
        width: 135px;
        margin-top: 10%;
        margin-left: -70%;
    }
    
    #title{
        width: 90%;
        margin-top: auto;
    }
    #title > h2{
        font-size: 15pt;
        position: fixed;
        top: 0;
        margin-top: 60px;
        margin-left: -334px;
    }
    
    #title > h1{
        font-size: 32.2pt;
        position: fixed;
        margin-top: -157px;
        margin-left: -338px;
    }
    
    main{
        width: 90%;
        height: 65vh;
    
        margin: auto;
        margin-top: 2.5%;
    
        padding-top: 20px;
        background-color: white;
    
        border-radius: 20px;
    
        box-shadow: 8px 12px 50px -5px black;
    
        overflow-y: auto;
        overflow-x: none;
    
        color: #7c5d88;
    }
    
    main > label{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .text{
        margin-left: 5%;
    }
    
    main > h3{
        text-align: center;
        margin: auto;
    }
    
    #RA_ALUNO{
        width: 90%;
        background-color: #e0e0e0;
    
        border-top: none;
        border-color: #7c5d88;
        border-radius: 20px;
    }
    
    #cursosSelecao{
        display: grid;
        grid-template-columns: auto auto;
        padding-right: 37%;
        padding-left: 3%;
    }
    
    #cursosSelecao > input{
        margin-bottom: 10px;
    }
    
    #cursosSelecao > label{
        margin-bottom: 10px;
    }
    
    main > hr{
        width: 90%;
    }
    
    .form-select{
        width: 90%;
        color: #7c5d88;
    }
    
    .btn-confirmar{
        color: #7c5d88;
    
        background-color: white;
        width: 40%;
        height: 8vh;
        margin-top: 2%;
        margin-bottom: 2%;
    
        border-color: #7c5d88;
    
        border-radius: 15px;
    
        transition: 400ms;
    }
    
    .btn-confirmar:hover{
        margin-top: 2%;
        margin-bottom: 2%;
        
        background-color: #7c5d88;
        border-color: #7c5d88;
        color: white;
    
    }
        body{
            width: 100%;
            position: fixed;
            font-size: 18pt;
        }
        #cabecalho{
            width: 100%;
        }
        #cabecalho > div > img{
            width: 100;
            margin-top: 22%;
            margin-left: -49%;
        }
        
        #title{
            width: 90%;
            margin-top: auto;
        }
        #title > h2{
            font-size: 13pt;
            position: fixed;
            top: 0;
            margin-top: 70px;
            margin-left: -140px;
            font-family: 'Kenyan Coffee', sans-serif;
        }
        #title > h1{
            font-size: 36.1px;
            position: fixed;
            margin-top: -120px;
            margin-left: -140.3px;
            font-family: 'Kenyan Coffee', sans-serif;
        }
    
        main{
            width: 90%;
            margin: 5%;
            margin-left: 5%;
            font-family: 'Kenyan Coffee', sans-serif;
        }
        
        #cursosSelecao{
            padding-right: 7%;
            padding-left: 5%;
        }
    
    
    
    
    
}